@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    margin: 0;
    padding: 0;
    border: border-box;
   
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: black;
}
/* shared styles */
.hide {
    display: none;
}
p {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
}
.btn-primary  {
    width: 224px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 1.12rem;
    display: inline;
}
.btn-secondery {
    width: 224px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    background-color: transparent ;
    color: #FFFFFF;
    font-size: 1.12rem;
    display: inline;
    margin-left: 14px;
}
/* header style starts from here */
.header {
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
/* navbar styles starts from here */
.navbar {
    display: flex;
    max-width: 1060px;
    margin: 57px 190px 84px;
    justify-content: space-between;
    align-items: center;
    
}
.nav-logo {
    color: #E6533C ;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-lists {
    width: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.nav-lists-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    text-decoration: none;
    padding-right: 20px;
    
}
.nav-lists-items li {
    list-style: none;
}
.nav-lists-items a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 1.125rem;
}
#home {
    width: 92px;
    height: 38px;
    background-color: #E6533C;
    color: #ffffff;
    border-radius: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.bar-icon {
    display: none;
}
/* navbar styles end here */
/* banner style start */
.banner {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
}
.banner-content-container {
    width: 50%;
}
.banner-content-header {
    font-size: 4.87rem;
    font-weight: 900;
    color: #FFFFFF;
    text-align: left;
    line-height: 100px;
}
#shape {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 400;
                                                
}
.banner-content-descriptin {
    margin:28px 0;
}
.btn {
    margin-bottom: 77px;
}
.banner-img-container {
    width: 50%;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position:bottom center;
}
.banner-img-child-1 {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 100px;
    left: 300px;
    padding: 17px 24px;
}
.banner-img-child-1 h3{
    font-size: 2.5rem;
    font-weight: 900;
}
.banner-img-child-2 {
    width: 190px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    top: 296px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 13px;
}
.red-curcle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}
.banner-img-child-2>div>h5 {
    font-size: 24px;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
/* header style ends here */

/* change habit section */
.change-habit-section {
    border: 2px solid green;
    max-width: 1060px;
    margin: 100px auto;

}
.habit-header-container {
    border: 1px solid red;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.habit-header-container p {
    margin-top: 15px;
}
.habit-content-container {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-around;
    margin-top: 58px;
}
.habit-img {
    border-radius: 50%;

}
.habit-description {
    text-align: center;
}
/* Run section */
.run-container {
    border: 1px solid powderblue;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 165px;
    padding: 40px 54px;
    border-radius: 18px;

background: rgb(34, 34, 34);

}
.run-content-container {
    max-width: 35%;
}
.run-descriptin {
    margin-top: 14px ;
    margin-bottom:35px ;
}
.run-img-container {
    border: 1px solid white;
    background: transparent;
    width: 40%;
    height: 310px;
    background-image: url(../images/run.jpg);
    /* background-attachment: fixed; */
    /* background-position-x: 100% ;
    background-position-y: 7px; */
    background-position: center;
    background-size: cover;
    /* resize: both; */
    border-radius: 18px;
    background-repeat: no-repeat;
}

/* BMI section */

.bmi-header-container {
    border: 1px solid white;
    max-width: 670px;
    height: 120px;
    margin:80px auto ;
    
}
.bmi-header-container p {
    margin-top: 15px;
}
.bmi-content-container {
    border: 1px solid red;
    color: white;
    max-width: 1440px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bmi-chart {
    border: 1px solid palegreen;
    margin: 50px 0 50px 190px ;
    max-width:  550px;


}
.bmi-chart-header {
    margin-bottom: 50px ;
}
.bmi-table {
    width:  115%;
    height: 210px;
    border-collapse: collapse;

}
.bmi-table th {
    color: rgba(255, 255, 255, 0.9);
    height: 30px;

}
.bmi-table table, th, td {
    border: 0.1px solid rgb(88, 88, 88);
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 7px;

}

.bmi-calculate {
    border: 1px solid pink;
    max-width: 580px;
    margin: 50px 190px 50px 0;

}
.bmi-calculate-description {
    margin: 14px 0 34px;
}
.bmi-calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 12px;
    margin-bottom: 34px;
}
#activity {
    grid-column: span 2;
}
.bmi-calculator > input, select {
    height: 48px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
}
/* team section` */
.team-header-container {
    border: 1px solid white;
    text-align: center;
    max-width: 660px;
    height: 120px;
    margin: 88px auto 70px;
}
.team-header-container p {
    margin-top: 14px;
}
.team-img-container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px ;
}
.team-img-1 {
    background-image: url(../images/trainer1.png);
}
.team-img-2 {
    background-image: url(../images/trainer2.png);
}
.team-img-3 {
    background-image: url(../images/trainer3.png);
}
.team-img-4 {
    background-image: url(../images/trainer4.png);
    background-position: center;
}
.team-img-5 {
    background-image: url(../images/trainer5.png);
}
.team-img-6 {
    background-image: url(../images/trainer6.png);
}
.team {
    height: 272px;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
}
.trainer-name {
    font-size: 1.25rem;
    color: white;
}
.trainer-data {
    border: 1px solid red;
    width: 200px;
    position: relative;
    top: 210px;
    left: 20px;
}
/* responsive styles for small devices starts from here */
@media screen and (max-width: 576px) {
    /* shared styles */
    #body {
        margin: 0 auto;
        
    }
    h2 {
        font-size: 2rem;
    }
    .btn-primary, .btn-secondery  {
        width: 170px;
    }
    .header {
        max-width: 100%
        margin: 0;
        padding: 0;
    }
    .navbar {
        margin: 52px 20px;
    }
    .nav-lists {
        border: none;
        width: auto;
    }
    .nav-lists-items {
        display: none;
    }
    .bar-icon {
        display: inline;
        font-size: 24px;
    }
    /* banner */
    .banner {
        border: 1px solid white;
        flex-direction: column;
        margin: 52px 20px;
        max-width: calc(100% - 40px) 
    }
    .banner-content-container {
        width: calc(100%);
        border: 1px solid pink;
    }
    .banner-content-header {
        font-size: 3rem;
        line-height: 60px;
    }
    #shape {
        font-size: 6rem;
    }
    .banner-img-container {
        width: 100%;
        height: 590px;
    }

    /* change habit section */
    .change-habit-section {
        border: 2px solid green;
        max-width: calc(100% - 40px);
        margin: 100px auto;
    
    }
    .habit-content-container {
        width: 338px;
        margin: 58px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        gap: 40px;
    }
    .habit-content {
        border: 1px solid white;
    }

    /* run section */
    .run-container {
        flex-direction: column;
        gap: 35px;
        padding: 50px;
        max-width: 443px;
    }
    .run-content-container {
        max-width: 100%;
    }
    .run-btn {
        width: 100%;

    }
    .run-img-container  {
        width: 100%
    }
 /* BMI section    */
    .bmi-content-container {
        flex-direction: column;
        max-width: 100vw;

    }
    .bmi-header-container {
        margin:  20px;
    }
    .bmi-chart {
        margin:30px 20px ;
        width: calc((100vw - 20) / 2);
        
    
    }
    .bmi-chart table {
        width: 100%;
    }
    .bmi-calculate {
        width:  calc((100vw - 40) / 2);
        margin: 20px;
    
    }
    /* team section */
    .team-img-1 {
       display: none;
    }
    .team-img-4 {
        display: none;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);

     }
     .team-header-container {
        max-width: 70vw;
     }
    
    
}
/* responsive styles for small devices end here */
